{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    <div class="row">
    	<div class="col-lg-4 col-lg-offset-4">
		    {% if user.path == NULL %}
						<img class="avatar" src="{{ asset('uploads/default/default.png') }}" />
			{% else %}
						<img class="avatar" src="{{ asset('uploads/users/'~user.id~'.'~user.path) }}"/>
			{% endif %}
		</div>
	</div>
    {% if targetUrl %}
    	<a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a>
    {% endif %}
{% endblock fos_user_content %}
