{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
	<div class="row">
		<div class="col-lg-offset-1 col-lg-2 justify" >
			<b>Mot de passe actuel:</b>
		</div>
		<div class="col-lg-8 justify" >
			{{ form_widget(form.current_password) }}
		</div>
	</div>

    <div class="row">
		<div class="col-lg-offset-1 col-lg-2 justify" >
			<b>MdP:</b>
		</div>
		<div class="col-lg-8 justify" >
			{{ form_widget(form.plainPassword) }}
		</div>
	</div>
	
	{{form_rest(form)}}
    <div>
        <input type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div>
</form>
