{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    <div class="row artcontent">
			<div class=" col-lg-offset-1 col-lg-3">
				{% if user.path %}
					<img src="{{ asset('uploads/users/'~user.id~'.'~user.path) }}" width="100%" />
				{% else %}
					<img src="{{ asset('uploads/default/default.png') }}" width="100%" />
				{% endif %}
			</div>
	</div>
</div>
