{% extends "::base.html.twig" %}
{% block body %}
<h1>Ajouter un figurine</h1>

<form action="{{path("abs_blog_add_figurine") }}" method="post" enctype="multipart/form-data">
	<div class="row">
		<div class="col-lg-offset-1 col-lg-2 justify" >
			<b>Nom:</b>
		</div>
		<div class="col-lg-6 justify">
			{{ form_widget(form.name) }}
		</div>
	</div>

	<div class="row">
		<div class="col-lg-offset-1 col-lg-2 justify" >
			<b>Image:</b>
		</div>
		<div class="col-lg-2">
			{{ form_widget(form.file, {'attr': {'onChange':'readURL(this);'}}) }}
				<img id="preview" src="{{ asset('uploads/default/default.png') }}" width="100%"  />
		</div>
	</div>

	<div class="row">
		<div class="col-lg-offset-1 col-lg-2 justify" >
			<b>Prix(en euros):</b>
		</div>
		<div class="col-lg-6 justify">
			{{ form_widget(form.price) }}
		</div>
	</div>


	<div class="row">
		<div class="col-lg-offset-1 col-lg-2 justify" >
			<b>Lien:</b>
		</div>
		<div class="col-lg-6 justify">
			{{ form_widget(form.url) }}
		</div>
	</div>



	<input type="submit">

</form>

{% endblock %}